// Variables
$primary: hsl(257, 40%, 49%);
$magenta: hsl(300, 69%, 71%);

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
  height: 100%;
}

body {
  padding: 5vh;
  height: calc(100% - 5vh);
  background: url("../images/bg-mobile.svg") no-repeat top right $primary;
  background-size: contain;
  color: white;
  font-family: 'Open Sans', 'sans-serif';
  font-weight: 400;
  text-align: center;
}

header {
  height: 10vh;
  text-align: start;
}

#img {
  background: url("../images/illustration-mockups.svg") no-repeat center;
  background-size: contain;
  height: 40vh;
}

#content {
  height: 30vh;
}

h1 {
  font-size: 1.875rem;
  line-height: 2rem;
  font-family: Poppins, 'sans-serif';
  font-weight: 600;
}

p {
  font-size: 1rem;
  line-height: 1.25rem;
  padding: 20px 0px;
}

button {
  color: $primary;
  background-color: white;
  padding: 10px 60px;
  border-radius: 20px;
  border: none;
  font-family: 'Open Sans', 'sans-serif';
  font-weight: 400;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

button:hover {
  background-color: $magenta;
  color: white;
}

#share-buttons {
  height: 5vh;
}

i {
  border-radius: 50%;
  border: 1px solid white;
  height: fit-content;
  padding: 10px;
}

.attribution { 
  font-size: 0.6875rem; 
  a { 
    color: $magenta; 
  }
}
